
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neighborhood</title>
</head>

<body>
  <div class="">
    <h2>About Our Neighborhood</h2>
    <p>This is a one of the most safest beautiful hood any tenant would want to live. It has business
    areas,shops, <br> recreational areas,field,hospital and schools.Sunrise is one of the most uprising hood around town which makes it very lucrative.</p>

  </div>
</body>

</html>
