<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">About Sunrise Hood</h3>
      <p class="lead">This is a one of the most safest beautiful hood any tenant would want to live. It has business
        areas,shops,recreational areas,field,hospital and schools.</p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 ">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top"
            src="https://images.unsplash.com/photo-1503710683168-b58707681b9c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">konic Avenue</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top"
            src="https://images.unsplash.com/photo-1512373806263-ea7c704a1c16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Kilelwa Road</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1594971455405-4f20fb78c5f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Uptown Avenue</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Sunrise Avenue</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
    </div>
  </div>
</body>

</html>
