<p>about works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class=""
    style="background-image: url(https://images.unsplash.com/photo-1574414237365-9b3e19c008ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);background-position: center; background-repeat: no-repeat;background-size: cover;height: 100%;">
    <h2>About our neighbourhood</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatum porro nulla incidunt cum soluta eum
      velit quod nemo eaque asperiores, consequuntur expedita totam? Fugiat aut unde voluptatibus dolorum ipsum.</p>

  </div>
</body>

</html>
