<div class="container-fluid">
  <div class="row">

    <div class="col-md-4" *ngFor="let hood of hoods">
      <div class="card-deck">
        <div class="card mb-2 mt-2 ">
          <!-- Card image -->
          <div class="view overlay zoom image2">
            <a class="nav-link" routerLink="/posts">
              <img class="card-img-top" src="https://res.cloudinary.com/dzvafknwk/{{hood.image}}" alt="hood_image"
                height="300px" width="320">
            </a>
          </div>

          <div class="card-body pr-2 pl-2 pr-2 mr-2">
            <h5 class="card-title ml-4">{{hood.name}}</h5>
            <div class="row">
              <div class="col-sm">
                <p>Location</p>
              </div>
              <div class="col-sm">
                <p>{{hood.location}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <h3>Add Neighborhood</h3>
      <form id="get-form" class="form" method="POST">
        <div class="form-group">
          <input [(ngModel)]="hood.name" type="text" class="form-control" name="name" id="name" autocomplete="off"
            placeholder=" " required />
          <label for="name" class="label-hoodname">
            <span class="content-first_name">Hood Name</span>
          </label>
        </div>
        <div class="form-group">
          <input [(ngModel)]="hood.location" type="text" class="form-control" name="location" id="location"
            autocomplete="off" placeholder=" " required />
          <label for="location" class="label-location">
            <span class="content-last_name">Location</span>
          </label>
        </div>
        <div class="form-group">
          <input [(ngModel)]="hood.admin" type="number" class="form-control" name="admin" id="admin" autocomplete="off"
            placeholder=" " required />
          <label for="admin" class="label-email">
            <span class="content-email">Admin</span>
          </label>
        </div>
        <button type="button" (click)="addNeighborhood()" class="btn btn-primary">
          Submit Neighborhood
        </button>
      </form>
    </div>
  </div>
</div>
