  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1540639933642-e8fc11a13437?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80"
            style="height: 85vh; width: 100vh; object-fit: cover;" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p>Welcome All</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1536573390740-e2ba5d7d33d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80"
            style="height: 85vh; width: 100vh; object-fit: cover;" alt="Second slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p> Your Welcome</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1603033839519-a43e3b7d9fbd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            style="height: 85vh; width: 100vh; object-fit: cover;" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p> Your Welcome</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1563298089-377a9b5c5f9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
            style="height: 85vh; width: 100vh; object-fit: cover;" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p> Your Welcome</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1574414237365-9b3e19c008ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80"
            style="height: 85vh; width: 100vh; object-fit: cover;" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
      </div>
      <div class="carousel-caption carousel-caption-center">
        <div class="container" id="p">
          <div class=" col-12 mx-auto ">
            <div class="text-center" id="paragraph">
              <p>SUNRISE NEIGHBOURHOOD</p>
              <p> Your Welcome</p>
            </div>
            <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
              Check hood
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container pt-5">
    <div class="about">
      <h2 class="text-center mt-3"> <i class="fas fa-address-card p-2"></i>Learn About Our Hood</h2>
      <hr>
      <div class="row">
        <div class="col-sm">
          <div>
            <img
              src="https://images.unsplash.com/photo-1526000130-b9ea509bfbf3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1119&q=80"
              class="img-fluid">
            <!-- <p class="btn cyan darken-3 btn-lg buttonImage text-white">10 years of <br>Experience</p> -->
          </div>

        </div>
        <div class="col-sm">
          <h3>Sunsire Neighbourhood</h3>
          <p>One of Vancouver's oldest neighbourhoods, Hastings–Sunrise is primarily residential, with a dense strip of
            shops and services along East Hastings Street and in pockets along Nanaimo Street, Broadway, Boundary Road
            and Renfrew Street. The residences are mostly single family detached dwellings, with some multi-family
            buildings. There is substantial parkland, and the area north of Hastings is partially zoned for light
            industrial.</p>

          <a href="#" class="btn cyan darken-3 btn-lg p-3 text-white">
            Learn More
          </a>
        </div>
      </div>
    </div>

    <div class="generalservices">
      <h2 class="text-center mt-3"><i class="fas fa-tools p-2"></i>System Administrator</h2>
      <hr>
      <div class="row pt-5">
        <div class="col-sm">
          <!-- Card Light -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top"
                src="https://images.unsplash.com/photo-1489370321024-e0410ad08da4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60"
                alt="Card image cap">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <h3>Neighbourhood Admin</h3>
          <p>
            Administrative workers are those who provide support to a company. This support might include general office
            management, answering phones, speaking with clients, assisting an employer, clerical work (including
            maintaining records and entering data), or a variety of other tasks..
          </p>
          <a href="#" class="btn cyan darken-3">
            <i class="fas fa-angle-right text-white"></i>
          </a>
        </div>
        <div class="col-sm">
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top"
                src="https://images.unsplash.com/photo-1480129043491-6d5a4785b65c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1774&q=80"
                alt="Card image cap">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <h3>Neighbours</h3>
          <p>It's where communities come together to greet newcomers, exchange recommendations, and read the latest
            local news. Where neighbors support local businesses and get updates from public agencies.
          </p>
          <a href="#" class="btn cyan darken-3">
            <i class="fas fa-angle-right text-white"></i>
          </a>
        </div>
        <div class="col-sm">

          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top"
                src="https://images.unsplash.com/photo-1499310392581-322cec0355a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80"
                alt="Card image cap">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <h3>Business</h3>
          <p>
            We offer a complete menu of all business to address your individual needs. We’ll work with you to
            understand your needs
            and diagnose your issues. Estimates are always free!
          </p>
          <a href="#" class="btn cyan darken-3">
            <i class="fas fa-angle-right text-white"></i>
          </a>
        </div>
      </div>

    </div>
