  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1540639933642-e8fc11a13437?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80"
            style="height: 130vh; width: 100vh; object-fit: cover;" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p> Your Welcome</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1536573390740-e2ba5d7d33d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80"
            style="height: 130vh; width: 100vh; object-fit: cover;" alt="Second slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p> Your Welcome</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1603033839519-a43e3b7d9fbd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            style="height: 130vh; width: 100vh; object-fit: cover;" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p> Your Welcome</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1563298089-377a9b5c5f9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
            style="height: 130vh; width: 100vh; object-fit: cover;" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption carousel-caption-center">
          <div class="container" id="p">
            <div class=" col-12 mx-auto ">
              <div class="text-center" id="paragraph">
                <p>SUNRISE NEIGHBOURHOOD</p>
                <p> Your Welcome</p>
              </div>
              <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
                Check hood
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100"
            src="https://images.unsplash.com/photo-1574414237365-9b3e19c008ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80"
            style="height: 130vh; width: 100vh; object-fit: cover;" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
      </div>
      <div class="carousel-caption carousel-caption-center">
        <div class="container" id="p">
          <div class=" col-12 mx-auto ">
            <div class="text-center" id="paragraph">
              <p>SUNRISE NEIGHBOURHOOD</p>
              <p> Your Welcome</p>
            </div>
            <a href="#" class="btn deep-orange darken-4 btn-lg" id="hood">
              Check hood
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
     </a>
   </div>
 

  <div class="container pt-5">
    <div class="about">
      <h2 class="text-center mt-3"> <i class="fas fa-address-card p-2"></i>Learn About Our Hood</h2>
      <hr>
      <div class="row">
        <div class="col-sm">
          <div>
            <img src="images/pic4.jpg" class="img-fluid">
            <p class="btn cyan darken-3 btn-lg buttonImage text-white">10 years of <br>Experience</p>
          </div>

        </div>
        <div class="col-sm">
          <h3>Professional Bike Services Since 2010</h3>
          <p>Our bike repair shop offers complete bicycle maintenance and repairs on every type of bike. With bike
            repair available at every location, we offer attention
            to detail and outstanding training. Our people are here to get you and your bike out on the road, trail,
            track, or wherever the wind takes you.</p>

          <a href="aboutUs.html" class="btn cyan darken-3 btn-lg p-3 text-white">
            Learn More
          </a>
        </div>
      </div>
    </div>
