<div class="carousel-caption carousel-caption-center">
    <div class="container" id="p">
      <div class=" col-12 mx-auto ">
        <div class="text-center" id="paragraph">
          <p>Professional Bike Repair</p>
          <p> & Custom Services</p>
        </div>
        <a href="appointments.html" class="btn deep-orange darken-4 btn-lg" id="bookSlot">
          Book Slot
        </a>
      </div>
    </div>
  </div>
</div>
<!--/.Slides-->
<!--Controls-->
<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
<!--/.Controls-->
</div>